/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    	vertical-align: middle;
	max-width:100%;
	height:auto;
}

*{
    box-sizing: border-box;
}

body{    
    font-family: 'Noto Sans TC','Roboto','Inter', sans-serif;
   
}

.container{
    width: 67%;
    margin: 0 auto;
    
}

/* header 表頭 */
.header{
    background-color:#AA0601;
    height: 80px; 
    display: flex;
    align-items: center;    
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
}
.nav{
    width: 47%;   
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav li{
    
}
a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.nav a{
    font-size: 20px;
    line-height: 30px;
    transition: all 0.3s;
}
.nav a:hover{
    font-size: 1.5rem;
}


/* main 內容 */
.main{
    margin-top: 96px;
    margin-bottom: 80px;
}
h2{
    font-size: 48px;
    line-height: 72px;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    font-weight: 700;
    margin-bottom: 32px;
}
h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}
h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.main li{
    margin-top: 32px;
}
.main p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


/* footer 表尾 */
.footer{
    background-color:#AA0601;  
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 24px;
}
.bar{
    width: 43%;    
}
.bar ul {
    display: flex;
    justify-content: space-between;
}
.icon ul{
    display: flex;
}
.bar a{
    font-size: 16px;
    line-height: 24px;
}
.icon img{
    width: 48px;
    margin-left: 32px;
}
.contact{
    padding-bottom: 32px;
    border-bottom: 1px solid white;
}
.contact img{    
    width: 36px;
}
.contact p{    
    font-size: 36px;
    line-height: 54px;
    color:white;    
}
.copy{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    color: #FFFFFF;
}
.copy-right ul{
    display: flex;
    justify-content: space-between;
}
.copy-right li{
    padding-left: 48px;
}
.copy-left p{
    font-size: 16px;
    line-height: 24px;
}
.copy-right p{
    font-size: 14px;
    line-height: 21px;
}


/* RWD */
@media(max-width:992px){
    .container{
        width: 100%;
        padding: 0 36px;       
    }
    .nav{
        width:70%;
    }    
    .bar{
        width: 65%;
    }
    .icon img{
        margin-left: 1rem;
    }
    .main{
        margin: 80px 0;
    }
}

@media(max-width:767px){
    .container{
        padding: 0 1rem;
    }
    .header{
        height: 176px;
        align-items: normal;
    }
    .wrap{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;  
        
        
    }
    
    .logo{
        height: 80px;
        width: 100%;   
        display: flex; 
        justify-content: center;
        align-items: center; 
        border-bottom: 1px solid #FFFFFF;    
       
    }
    .nav{        
        width: 100%;
        
              
    }
    .nav ul{      
        flex-wrap: wrap;  
        
    }
    .nav li{
        width: 50%;
        border-bottom: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        height: 48px;
        
        
    }
    .nav a{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
    }
    .footer-nav{
        padding: 0;
        padding-top: 24px;
        align-items: normal;
    }
    .bar{
        display: none;
    }
    .icon img{
        width: 24px;
        margin-left: 8px;
    }
    .information{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;        
        border-bottom: 1px solid #FFFFFF;
    }
    .contact{
        padding: 24px 0;
        border-bottom: none;
        display: flex;
        align-items: center;
        
    }
    .contact p{
        font-size: 16px;
        line-height: 24px;
    }
    .contact img{
        width: 20px;
    }
    .copy{
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 24px;
    }
    .copy p{
        font-size: 16px;
        line-height: 24px;
    }
    .copy-right ul{
        flex-direction: column;
    }
    .copy-right li{
        padding: 0;
        padding-top: 8px;
    }
    .main{
        margin-top: 40px;
        margin-bottom: 64px;
    }
    .main li{
        margin-top: 24px;
    }
    h2,h3{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
}